.git
.gitignore
.gcloud
.gcloud-admin
.pixi
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
cloud/.terraform
cloud/terraform.tfstate*
cloud/tfplan
secrets/.secrets.auto.tfvars.json
secrets/secrets.sops.yaml
